
<h2>Previous Orders:</h2>
<ul> 
  <% @orders.each do |order| %>
    <li><%= link_to "#{order.cust_name} - #{order.address} - #{order.date} #{order.time}" %></li>
  <% end %>
</ul>

<br><br><hr><br><br>

<%= form_for @order do |f| %>
  <%= f.label "name" %>  <%= f.text_field :cust_name %>
  <%= f.label "address" %>  <%= f.text_field :address %>
  <%= f.label "time" %>  <%= f.text_field :time %>
  <%= f.submit "Submit" %>
<% end %>

<br><br><hr><br><br>

<div id="container">
  <label>Name Your Pizza:</label>
  <input type="text" id="pizzaName">
  <input type="button" id="addPizza" value="Next"><br>
</div>

<div id="select-sauce">
  <label>Choose Your Sauce:</label>
  <div id="tomato" class="button">Tomato</div><div id="barbecue" class="button">Barbecue</div>
</div>

<div id="toppings"></div>

<script>
  $(function () {
    // GET ORDERS JSON DATA
    $.get("/orders.json", function (data) {
      authenticityToken = data.authenticity_token;
      data.orders.forEach(function (order){
        // AMEND ORDER HERE
      });
    });

    // GET PIZZAS JSON DATA
    $.get("/pizzas.json", function (data) {
      authenticityToken = data.authenticity_token;
      data.pizzas.forEach(function (pizza){
        loadPizza(pizza);
      });
    });

    // CREATE TOPPINGS AND MAKE THEM DRAGGABLE
    var beingDragged = null;
    $.get("/toppings.json", function (data) {
      data.forEach(function (topping) {
        var toppingDiv = $('<div id="topping' + topping.id.toString() + '" class="topping" draggable="true"><h3>' + topping.name + '</h3><img src="assets/images/' + topping.name.toLowerCase() + '.png" alt="' + topping.name + '" draggable="false"/></div>');
        $("#toppings").append(toppingDiv);
        toppingDiv.on("dragstart", function (e) {
          if (e.originalEvent) {
            e = e.originalEvent;
            e.dataTransfer.setData("application/x-id", this.id);
          }
          console.log("dragging!");
          e.dataTransfer.effectAllowed = "copy";
          beingDragged = this;
          e.stopPropagation();
        });
      });
    });

    // ALLOW PIZZA TO BE CREATED USING 'ENTER' KEY
    $("#pizzaName").keypress(function (event) {
      if (event.keyCode == 13) {
        createPizza();
      }
    });

    // ALLOW PIZZA TO BE CREATED BY CLICKING 'addPizza' BUTTON
    $("#addPizza").click(function () {
      createPizza();
    });

    // CREATE PIZZA
    function createPizza() {
      var pizzaName = $("#pizzaName");
      if (pizzaName.val() != "" && authenticityToken != null) {
        $.post("/pizzas",
          {name: pizzaName.val(), authenticity_token: authenticityToken},
          function (pizza) {
            loadPizza(pizza);
          }
        );
      }
      pizzaName.val(""); 
    }

    // LOAD PIZZAS TO PAGE / ALLOW TOPPINGS TO BE DROPPED ON THEM / ALLOW THEM TO BE DELETED
    function loadPizza(pizza) {
      if (pizza.id) {
        var pizzaID = pizza.id.toString();
        var pizzaDiv = $('<div id="pizza' + pizzaID + '" class="pizza"><h3>' + pizza.name + '</h3><div class="pizza-base"><input type="button" id="delete' + pizzaID + '" value="X"></div><div id="pizza' + pizzaID + 'toppings"></div></div>');
        $("#container").append(pizzaDiv);
        console.log("Created", pizzaID);
        pizzaDiv.on("dragover", function (e) {
          $("#event").html("drag over " + this.id);
          if (e.originalEvent)    // FF
            e = e.originalEvent;
          e.dataTransfer.effectAllowed = "copy";    // FF
          e.preventDefault();
        }).on("drop", function (e) {
          console.log(beingDragged.id, this.id);
          $.ajax({
            type: "patch",
            url: "/pizzas/" + pizzaID + ".json",
            data: {
              authenticity_token: authenticityToken,
              topping_id: beingDragged.id
            }
          }).done(function (x) {
            var newTopping = $("#" + beingDragged.id)
            $("#pizza" + pizzaID + "toppings").append(newTopping.text() + " ")

            console.log("dragend!");
            beingDragged = null;
          });
        }).on("mouseup", function (e) {
          // This hack is here ONLY to support testing on Selenium + Firefox
          // (The real user interaction of releasing the mouse button
          //  causes drop and not mouseup!!)
          if (beingDragged != null) {
            var evt = document.createEvent("DragEvent");
            evt.initEvent("drop", true, true);
            this.dispatchEvent(evt);
          }
        });
        $("#delete" + pizzaID).click(function () {
          console.log("Deleting", pizzaID);
          $.ajax({
            type: "delete",
            url: "/pizzas/" + pizzaID,
            data: {authenticity_token: authenticityToken}
          }).done(function (pizza) {
            $("#pizza" + pizzaID).remove()
          });
        });
      }
    }

    // SWITCH TOPPING - WILL EVENTUALLY HAVE TOGGLE BUTTON TO DRY UP CODE AND WILL
    // SAVE USER CHOICE IN DATABASE
    $("#tomato").click(function () {
      $(".pizza-base").css({
        "width": "320px",
        "height": "320px",
        "background-color": "#931009",
        "border": "15px solid #FFF8AA"
      });
    });

    $("#barbecue").click(function () {
      $(".pizza-base").css({
        "width": "320px",
        "height": "320px",
        "background-color": "#351810",
        "border": "15px solid #FFF8AA"
      });
    });

  });

</script>